API_SECRET_KEY=Lklasndikoasdfj8123uhsl
SUPABASE_URL=https://zhfmjnaaxzkajiqkycfb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpoZm1qbmFheHprYWppcWt5Y2ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzE4MDk4MiwiZXhwIjoyMDg4NzU2OTgyfQ.i7SezBgP67qtZOiYrSUBhLV_nqKtl3CzpMhqZTuIk4Y
POLYMARKET_GAMMA_BASE_URL=https://gamma-api.polymarket.com
POLYMARKET_DATA_BASE_URL=https://data-api.polymarket.com
POLYMARKET_CLOB_BASE_URL=https://clob.polymarket.com
